.searchContainer {
  display: flex;
  align-items: center;
  margin-top: 165px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  width: 706px;
  height: 68px;
  padding: 16px;
  gap: 10px;
  border: 3px solid;
  border-radius: 16px;
  border-image: linear-gradient(to right, #8a7ebe, #ffffff) 1;
  background-color: #ece6fc1c; /* opcional: tom muito claro se quiser destacar o campo */
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #5f597b;
  background: transparent;
}

.input::placeholder {
  color: #5f597b;
  opacity: 0.72;
}

.icon {
  color: #5f597b;
}
