.recovery {
    display: flex;
    align-items: center;
}

.recovery_content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 90%;
    height: 90%;
    margin: 2% 0;
    max-width: 1010px;
    max-height: 608px;
    border-radius: 16px;
    background-color: #FFFFFF40;
}

.recovery_form {
    width: 100%;
    height: 100%;
}

.recovery_frame {
    width: 50%;
    height: 100%;
}


.swiper {
    width: 100%;
    height: 100%;
}

.slides {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        border-radius: 16px 0 0 16px;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .recovery_frame {
        display: none;
    }

}