.login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .background {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;

        .abstract_image {
            position: absolute;
            width: 915.039px;
            height: 1141.14px;
            right: -20%;
            bottom: -100%;
            background: url('/circle_background_abstract.png');
            background-size: cover;
        }
    }

    .login_content {
        display: flex;
        width: auto;
        height: 90%;
        max-width: 1231px;
        max-height: 550px;
        border-radius: 16px;
        background-color: #ffffff36;
        border-radius: 16px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 1;

        .form_content {
            width: 40%;
            height: 100%;
            max-width: 537px;
            background-color: rgba(255, 255, 255, 0.212);
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
        }
    }
}

@media screen and (max-width: 1160px) {
    .login_content{
    }
}