.box_form{
    display: flex;
    flex-direction: column;
    gap: 23px;
    max-width: 451px;
    align-items: center;
    gap: 30px;
}
.box_input{
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 100%;
}
.box_form input{
    height: 63px;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid var(--color-primary);
    padding: 20px;
    font-family: var(--font-roboto);
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}
.box_form input:focus {
  outline: none;
}
.box_hyperlink{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 282px;
    align-items: center;
}
.hyperlink_google{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#google_link{
    font-family: var(--font-inter);
    text-decoration: none;
    color: #000000;
}
#password_link {
    font-family: var(--font-inter);
    text-decoration: underline;
    color: var(--color-text);
}
.box_form input.input_error {
    background-color: var(--color-error);
}
.input_container {
    display: flex;
    position: relative;
    width: 100%;
}
.input_container input.has-eye {
    width: 100%; 
    padding-right: 40px; 
    box-sizing: border-box; 
}
.eye_icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color-primary);
    font-size: 20px;
    user-select: none;
    z-index: 1;
}

