.modal_view {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    padding: 1%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-terciary-color);
    border-radius: 20px;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.modal_view_navegation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 8%;
    padding: 0 1%;
}

.close_modal {
    cursor: pointer;
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.close_modal:hover {
    background-color: var(--color-button);
}


.modal_view_content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2%;
}

.modal_view_title {
    text-align: center;
}

.modal_view_informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5%;
}