.modal_view {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    max-width: 1200px;
    padding: 1%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-modal);
    border-radius: 24px;
    z-index: 1000;
    backdrop-filter: blur(40px);
}

.modal_view_navegation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 8%;
    padding: 0 1%;
}

.close_modal {
    cursor: pointer;
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

.icon_close_button {
    width: 100%;
    height: 100%;
}

.close_modal:hover {
    background-color: var(--color-button);
}

.modal_view_content {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1%;
}

.modal_view_title {
    text-align: center;
}

.modal_view_informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 2%;
    gap: 15px;
    border-left: 1px solid var(--color-border-primary);
}

.img_slug {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.img_slug img {
    width: 70%;
    max-width: 400px;
    max-height: 270px;
    height: auto;
    border-radius: 14px;
}

#button_custom {
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--color-button-quarty);
    width: 70%;
    min-height: 62px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: 600;
    margin: 6% 0;
}

#button_custom:hover {
    width: 72%;
    transition: 0.3s ease;
    background: var(--color-button-hover);
}

.information_group {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    padding: 1%;
}

.text {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
}

#icon_image {
    width: 25px;
    height: auto;
    margin: 0 2%;
}

.information_group_row {
    display: flex;
    width: 100%;
    column-gap: 2%;
    padding: 0 1%;
    justify-content: start;
}

#description {
    display: -webkit-box;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: var(--color-text);
    text-align: justify;
    font-family: var(--font-inter);
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

#tickets_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.ticket_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 90px;
    gap: 5%;
    border: 1px solid var(--color-border-primary);
    border-radius: 16px;
    background-color: var(--color-button-five);
}

.ticket_card p {
    padding: 2% 0;
    font-family: var(--font-roboto);
}

@media screen and (max-width: 1000px) {

    .modal_view_content {
        flex-direction: column;
    }

    .modal_view_informations {
        width: 100%;
        flex-direction: column;
        border: none;
    }

    .information_group_row {
        align-items: center;
        flex-direction: column;
    }

    .information_group {
        width: 100%;
        justify-content: center;
    }

    .img_slug {
        width: 100%;
    }

    #button_custom {
        max-width: 50%;
        margin: 2% 0;
    }

}

@media screen and (max-width: 768px) {
    .text {
        font-size: 14px;
    }

    #description {
        font-size: 14px;
    }

    #tickets_content {
        row-gap: 10px;
        flex-direction: column;
    }
}