/* Importando as Fontes instaladas */
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";

/* Resetando estilos padrão da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Definindo as variáveis de cor da página */
  --background: #FFFFFF;
  --background-primary-color: #D9D4FF;
  --background-secundary-color: #8C77FE33;
  --background-terciary-color: #8A7EBE80;
  --color-primary: #8C77FE;
  --color-error: #ffb2b2;
  --color-text: #000000;
  --color-text-secundary: #2B2050;
  --color-text-terciary: #32302D;
  --color-background: #F9F9F9;
  --color-button: #fec93e;
  --color-button-secunday: #F5CC50;
  --color-button-hover: #f4da8c;
  --color-border-primary: #693EFE;
  --color-border-secundary: #8b77fe7e;
  --color-checkbox: #D9D9D9;

  /* Definindo as variáveis das Fontes instaladas */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

/* Definindo ocupação dos elementos no topo da hierarquia DOM */

html,
body {
  height: 100dvh;
}

#__next {
  height: 100%;
}

#page {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--background-primary-color);
}

.swiper-button-disabled {
  background: transparent;
  cursor: not-allowed;
  opacity: 0.6;
}