/* Percebi que as classes precisam ser definidas isoladamente utilizando 
módulos se não as media querys não funcionam corretamente por comta da hierarquia do DOM
então é só definir cada elemento com sua classe fora de qualquer outra
*/ 

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 2%;
}

.formProgess_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    max-height: 63px;
}

.title_content {
    width: 100%;
    padding: 0 3%;
}

.inputs_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 3%;
    row-gap: 20px;
}

.input {
    width: 100%;
    padding: 13px;
    font-family: var(--font-poppins);
    font-size: 16px;
    max-height: 39px;
    border-radius: 16px;
    border: 1px solid var(--color-primary);
}

.label_inputs {
    color: #ff0000;
    font-size: 16px;
    font-family: var(--font-poppins);
}

.button_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title h1 {
    font-size: 32px;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    border-radius: 50%;

    p {
        color: #ffffff;
    }
}

.input_recovery {
    font-size: 16px;
}

/* Aqui é definido a cor do input quando está com erro */
.input_error {
    background-color: var(--color-error);
}

/* Aqui é definido a transparencia do input quando está sem erro e vazio */
.input_ok {
    background-color: transparent;
}

.progess_bar {
    width: 30%;
    height: 11px;
}

.progess_on {
    background-color: var(--color-primary);
}

.progess_off {
    background-color: var(--color-button);
}

.finally_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
        text-align: center;
        font-family: var(--font-poppins);
    }

    #title_finally{
        font-size: 24px;
        font-weight: 700;
    }

    #subtitle_finally{
        font-size: 16px;
        font-weight: 400;
    }
}

@media screen and (max-width: 900px) {
    .title_content .title h1 {
        font-size: 24px;
    }
    
    .circles {
        width: 40px;
        height: 40px;
    }
}