.button_custom{
    cursor: pointer;
    background-color: var(--color-button);
    height: 100%;
    max-height: 62px;
    max-width: 192px;
    width: 100%;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: 600;
}

.button_custom:disabled {
    cursor: default;
    background-color: #acacac;
}

@media screen and (max-width: 1032px) {
    .button_custom {
        height: 44px;
        font-size: 14px;
    }
}

