.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-text-terciary);
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1240px;
  padding: 4%;
  margin: 20px 0;
  border-radius: 16px;
  row-gap: 5px;
  background-color: #ffffff33;

  box-shadow:
    0px 0px 4px #ffffff33,
    0px 4px 4px #00000040;
}

.paragraph {
  color: var(--color-text);
  padding: 0 2%;
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 1% 0;
  text-transform: uppercase;
  font-family: var(--font-poppins);
}

.input_group {
  width: 100%;
  padding: 2% 0;
}

#category_group {
  display: flex;
  flex-direction: column;
}

#category_select {
  width: 50%;
  max-width: 240px;
  color: var(--color-text-terciary);
  outline: 1px solid var(--color-border-primary);
}

.labelInputs {
  font-size: 20px;
  font-family: var(--font-roboto);
}

.small_paragraph {
  list-style-position: inside;

  small {
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-roboto);
  }
}

.dateTime_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2% 0;
  column-gap: 2%;
}

.StartEndtEvent {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dateTime {
  display: flex;
  flex-direction: column;
}

#date_input {
  width: 80%;
  padding: 4%;
  max-width: 200px;
}

#hour_input {
  width: 80%;
  padding: 4%;
  max-width: 200px;
}

#paragraph_details {
  padding: 0 0 0 1%;
}

.title_section h1 {
  font-size: 32px;
  color: var(--color-text-purple);
}

.tickets_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.tickets_information {
  display: grid;
  width: 50%;
  grid-template-areas:
    "ticket_cost ticket_free"
    "type_error type_error"
    "value value"
    "startSold endSold"
    "quantity quantity";
  grid-template-columns: auto;
  grid-template-rows: auto;
  column-gap: 5%;
}

.radio_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  grid-area: radio_group;
  column-gap: 1%;
  padding: 2% 0;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-roboto);
}

#type_error {
  grid-area: type_error;
}

#ticket_cost {
  grid-area: ticket_cost;
}

#ticket_free {
  grid-area: ticket_free;
}

.radio_option {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  column-gap: 2%;
  padding: 2% 0;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-roboto);
}

#ticket_value {
  grid-area: value;
}

#start_sold {
  grid-area: startSold;
}

#end_sold {
  grid-area: endSold;
}

#quantityForBuy {
  grid-area: quantity;
}

#quantity_input {
  max-width: 100px;
}

.tickets_aditional {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 0 3%;
}

#ticket_description {
  height: 170px;
  resize: none;
  border: 1px solid var(--color-border-primary);
}

.ticketBatch {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 10%;
  padding: 4% 0;
}

.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  padding: 1% 0;
  font-family: var(--font-roboto);
}

#information {
  text-align: center;
}

#terms {
  text-align: justify;
  max-width: 750px;
}

#radio_terms {
  width: 50%;
  padding: 1% 0;
}

.information_icon {
  width: 46px;
  height: 46px;
  margin: 0 2%;
}

.input {
  width: 100%;
  height: 100%;
  color: var(--color-text);
  font-size: 16px;
  font-family: var(--font-poppins);
  border-radius: 20px;
  padding: 13px 20px;
  outline: none;
  margin: 10px 0;
  border: none;
}

.text_error {
  color: #ff0000;
  font-family: var(--font-poppins);
}

.input_error {
  background-color: var(--color-error);
}

.input_ok {
  background-color: transparent;
}

.select {
  width: 100%;
  padding: 17px;
  margin: 0.5rem 0;
  border: 1px solid #D9D4FF;
  border-radius: 8px;
  font-size: 1rem;
}

.text_description {
  min-height: 250px;
  resize: vertical;
  border: 1px solid var(--color-border-primary);
}

.adress_information {
  display: grid;
  flex-direction: column;
  width: 100%;
  grid-template-areas:
    "cep number"
    "local_name local_name"
    "complement complement";
  grid-template-columns: auto;
  grid-template-rows: auto;
  column-gap: 10%;
  row-gap: 1%;
}

.localName {
  grid-area: local_name;
}

.adressCEP {
  grid-area: cep;
}

.numberLocal {
  grid-area: number;
}

.complementLocal {
  grid-area: complement;
}

.checkbox_group {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  column-gap: 1%;
  padding: 2% 0;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-roboto);
}

.container_location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox {
  cursor: pointer;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.add_icon,
.back_icon {
  width: 24px;
  height: 24px;
}

.button_event {
  width: 280px;
  font-size: 10px;
}

.page_butons {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5% 0;
}

@media (max-width: 900px) {

  .title_section h1 {
    font-size: 15px;
  }

  .dateTime_content {
    flex-direction: column;
  }

  .StartEndtEvent {
    width: 90%;
    column-gap: 2%;
    padding: 2% 0;
  }

  .labelInputs {
    font-size: 12px;
  }

  .radio_option {
    font-size: 14px;
  }

  .input {
    font-size: 10px;
    margin: 1%;
  }

  .input_group {
    padding: 1% 0;
  }

  .paragraph {
    font-size: 10px;
  }

  .small_paragraph small {
    font-size: 10px;
  }

  .text_error {
    font-size: 10px;
  }

  #category_select {
    width: 70%;
    border-radius: 8px;
  }

  #date_input {
    width: 90%;
    border-radius: 8px;
  }

  #hour_input {
    width: 90%;
    border-radius: 8px;
  }

  .text_description {
    resize: none;
    height: 150px;
    min-height: 150px;
  }

  .container_location {
    flex-direction: column;
  }

  .checkbox_group {
    font-size: 12px;
  }

  .map {
    margin: 10% 0;
  }

  .map_image {
    width: 160px;
    height: 160px;
  }

  .tickets_content {
    flex-direction: column;
  }

  .tickets_information {
    width: 100%;
  }

  .tickets_aditional {
    width: 100%;
    padding: 5% 0;
  }

  .information {
    font-size: 10px;
  }

  .page_butons {
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
  }
}