.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    background-color: var(--background);
}

.footer_contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.firt_line {
    opacity: 1;
    border-width: 3px;
}

.line {
    width: 44px;
    height: 4px;
    transform: rotate(90deg);
}

.footer_copy {
    background-color: #32302D;
    min-height: 37px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 14px;
        font-family: var(--font-poppins);
        font-weight: 500;
        color: #FFFFFF;
    }
}

.title h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-poppins);
    color: #2B2050;
}

.contacts {
    display: flex;
    gap: 22px;
    align-items: center;
    margin-bottom: 32px;

    h1 {
        font-size: 16px;
        font-weight: 700;
        font-family: var(--font-poppins);
        color: #2B2050;
    }

    p {
        font-size: 14px;
        font-weight: 500;
        font-family: var(--font-poppins);
        color: #2B2050;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}

.midia {
    display: flex;
    justify-content: center;
    gap: 38px;

    div {
        width: 65px;
        height: 65px;
        border: 3px solid #693EFE;
        border-radius: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 1024px) {
    .footer {
        height: auto;
        padding: 16px;
    }

    .footer_contact {
        flex-direction: column;
    }

    #logo_main {
        width: 317px;
        height: 120px;
    }

    .first_line {
        display: none;
    }

    .title h1 {
        font-size: 16px;
    }

    .contacts {
        flex-direction: column;
        margin-bottom: 16px;
        gap: 10px;
        h1 {
            font-size: 12px
        }
        p {
            font-size: 10px;
        }
    }
    .line {
        transform: rotate(180deg);
        width: 100px;
        height: 2px;
    }
    .midia {
        gap: 10px;
        div {
            border: 2px solid #693EFE;
            width: 40px;
            height: 40px;
        }
        .logo {
            width: 14px;
            height: 16px;
        }
    }

}
