.aboutus {
    background-color: var(--background-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutus h1 {
    color: #693EFECC;
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 36px;
    margin-top: 10px;
    text-align: center;
}

.main {
    display: flex;
    max-width: 1220px;
    height: 600px;
    width: 100%;
    background-color: #FFFFFF40;
    border-radius: 16px;
    margin-bottom: 25px;
    padding: 16px;
    gap: 20px;
}

.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    gap: 44px;
    padding: 16px;
    text-align: center;
}

.main_text h1 {
    color: #2B2050;
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 32px;
}

.main_text p {
    font-family: var(--font-inter);
    font-size: 20px;
    max-width: 451px;
    line-height: 1.5;
}

.about {
    border-radius: 16px;
    object-fit: cover;
}

.content_frame {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--background);
}

.frame_img {
    max-width: 290px;
    max-height: 280px;
    height: auto;
    width: 100%;
}

.frame_3 {
    max-width: 187px;
    max-height: 300px;
    height: auto;
    width: 100%;
}

.frame_4 {
    max-width: 393px;
    max-height: 300px;
    height: auto;
    width: 100%;
}

.frame {
    display: flex;
    max-width: 1220px;
    gap: 32px;
}

.frame_image {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
        display: flex;
        gap: 10px;

        img {
            border-radius: 16px;
        }
    }
}

.frame_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    background-color: #693EFE33;
    border-radius: 16px;
    gap: 50px;
    padding: 67px;

    h1 {
        font-size: 32px;
        color: #2B2050;
        font-family: var(--font-poppins);
        font-weight: 700;
        line-height: 24px;
    }
}

.frame_text p {
        text-align: justify;
        font-family: var(--font-inter);
        font-size: 24px;
        width: 467px;
}

.img_section {
    max-width: 48px;
    height: 48px;
    width: 100%;
}

.section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    margin: 10px;

    h1 {
        color: #2B2050;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 1%;
    }
}

.section_content {
    display: flex;
    gap: 1%;
    margin-bottom:25px;
    margin-top: 25px;
    max-width: 1220px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 100%;

    h4 {
        font-size: 15px;
        font-family: var(--font-poppins);
        margin-top: 5px;
        margin-bottom: 5px;
    }

    p {
        font-size: 14px;
        font-family: var(--font-inter);
        text-align: center;
    }
}

.second_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    h1 {
        color: #2B2050;
        font-size: 32px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 25px;
    }

}

.second_section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 25px;
}

.second_section_content_numbers {
    display: flex;
    gap: 50px;
}

.second_section_content_numbers div p {
    font-family: var(--font-inter);
    font-size: 20px;
    margin-top: 5px;
}


/* Responsividade para tablets */
@media (max-width: 1024px) {
    .aboutus h1 {
        font-size: 24px;
        text-align: center;
    }

    .main {
        flex-direction: column;
        align-items: center;
        height: auto;
        max-width: 90%;
        gap: 10px;
    }

    .main img {
        width: 440px;
        height: auto;
    }

    .main_text {
        gap: 20px;
    }

    .frame {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 8px;
        max-width: 100%;
        overflow-x: hidden;
    }

    .frame_image {
        gap: 8px;
        padding: 0;
    }

    .frame_image div {
        flex-direction: column;
        gap: 8px;
    }

    .frame_image img {
        max-width: 100px;
        height: auto;
        object-fit: cover;
    }

    .frame_text {
        width: 360px;
        gap: 16px;
        padding: 12px;
    }

    .frame_text h1 {
        font-size: 20px;
        line-height: 22px;
        text-align: center;
    }

    .frame_text p {
        font-size: 12px;
        width: 100%;
        text-align: justify;
    }
}

/* Responsividade para mobile */
@media (max-width: 768px) {
    .aboutus h1 {
        font-size: 14px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        height: auto;
        max-width: 80%;
        padding: 8px;
        gap: 5px;
    }

    .main img {
        max-width: 320px;
        width: 100%;
        height: 260px;
    }

    .main_text {
        padding: 0;
        gap: 10px;
    }

    .main_text h1 {
        font-size: 16px;
    }

    .main_text p {
        font-size: 10px;
    }

    .frame {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 8px;
        max-width: 80%;
    }

    .frame_image {
        padding: 0;
        gap: 8px;
    }

    .frame_image div {
        flex-direction: row;
        justify-content: center;
        gap: 8px;
    }

    .frame_image img {
        width: 120px;
        height: auto;
        object-fit: cover;
    }

    .frame_text {
        width: 260px;
        padding: 8px;
        gap: 12px;
    }

    .frame_text h1 {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .frame_text p {
        font-size: 10px;
        width: 100%;
        text-align: justify;
    }

    .img_section {
        width: 32px;
        height: 32px;
    }
    
    .card {
        max-width: 160px;

        h4 {
            font-size: 9px;
        }

        p {
            font-size: 7px;
        }
    }
}

